@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;

  width: 48px;      /* ⬅️ bigger button */
  height: 48px;     /* ⬅️ bigger button */
  border-radius: 50%;

  background: orangered;
  color: white;

  font-size: 35px;  /* ⬅️ bigger arrow */
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: orangered;
}
